astor==0.8.1
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
funcsigs==1.0.2
gast==0.2.2
google-pasta==0.2.0
idna==2.10
joblib==0.17.0
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
matplotlib==3.3.2
opt-einsum==3.1.0
packaging==20.4
pathlib==1.0.1
Pillow==8.0.0
protobuf==3.13.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
regex==2020.10.15
requests==2.24.0
scikit-learn==0.23.2
sentencepiece==0.1.91
six==1.15.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-probability==0.7.0
termcolor==1.1.0
texar==0.2.4
threadpoolctl==2.1.0
urllib3==1.25.10
Werkzeug==1.0.1
wrapt==1.12.1